body{
    background: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}
input{
    margin-bottom: 6px;
    font-size: 24px;
    height: 30px;
    color: white;
    background-color: rgb(76, 76, 76); 
    border: 0; 
    border-radius: 2px;
}
button{
    font-size: 24px;
    height: 30px;
    color: white;
    background-color: rgb(76, 76, 76); 
    border: 0; 
    border-radius: 2px;
}
h6{
    position: fixed;
    text-align: center;
    background-color: black;
    color: gray;
    padding-bottom: 15px;
    bottom: 0%;
    margin-bottom: 0;
    width:100%; 
    font-size: 14px;
}
a{
    color: gray;
    font-size: 14px;
}
a:hover{
    color: white;
    font-size: 14px;
}
iframe{
    position:fixed; 
    top:10; 
    left:0; 
    bottom:0; 
    right:0; 
    width:0; 
    height:0; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden;
    z-index: -1;
}
div{
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width:600; 
    height:600; 
    border:none; 
    margin:0; 
    padding:100%; 
    overflow:hidden;
    z-index: -2;
    background-color: rgb(122, 122, 122);
}
