body{
    background: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}
input{
    font-size: 24px;
    height: 30px;
    color: white;
    background-color: rgb(76, 76, 76); 
    border: 0; 
    border-radius: 2px;
}
button{
    font-size: 24px;
    height: 30px;
    color: white;
    background-color: rgb(76, 76, 76); 
    border: 0; 
    border-radius: 2px;
}